
{
    "parserOptions": {
      "ecmaVersion": 8
    },
    "env": {
      "node": true,
      "es6": true
    },
    "extends": "nodejs-recommended",
    "rules": {
      "arrow-parens": [
        "error",
        "always"
      ],
      "object-property-newline": "off",
      "no-magic-numbers" : ["error", {
        "ignoreArrayIndexes": true,
        "enforceConst": false
      }],
      "lodash/prefer-noop": "off",
      "one-var": "off",
      "one-var-declaration-per-line": "off",
      "no-multi-str" : "off",
      "no-restricted-syntax": "off",
      "lodash/prop-shorthand" : "off",
      "lodash/prefer-includes" : "off",
      "lodash/no-single-chain" : "off",
      "lodash/prefer-chain" : "off",
      "lodash/prefer-lodash-chain" : "off",
      "no-sync" : "off",
      "lodash/prefer-lodash-method" : "off",
      "line-comment-position" : "off",
      "comma-dangle": ["error", "never"],
      "import/no-commonjs" : "off",
      "import/order" : "off",
      "import/prefer-default-export" : "off",
      "brace-style" : ["error", "1tbs", { "allowSingleLine": true }],
      "callback-return" : "off",
      "valid-jsdoc" : "off",
      "arrow-body-style": "off",
      "max-statements-per-line": ["error", {"max": 10}],
      "semi": [
        "error",
        "always"
      ],
      "quotes": [
        "error",
        "single"
      ]
    }
  }
